.content-layout {
  margin: "24px 16px 0";
}

.content-layout-outlet {
  padding: 24px;
  min-height: 360px;
}

@media (max-width: 768px) {
  .content-layout {
    margin: 24px 0 0;
  }

  .content-layout-outlet {
    padding: 0;
  }
}
