.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  height: 50px;
}

.logo img {
  height: 100%;
}

.menu {
  display: flex !important;
  justify-content: center;
  flex-grow: 1;
  border-bottom: none !important;
}

.menu .ant-menu-item {
  padding: 0 20px;
  font-size: 20px;
}

.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

.avatar-container {
  display: block;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .avatar-container {
    display: none;
  }

  .drawer-avatar {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
}
